@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  font-family: "Figtree", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

header {
  height: 50vh;
  background-color: #4285F4;
  color: #F2F2F2;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/backgrounds/bg--section--03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #022873;
}

.menu--navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: 50px;
  width: 600px;
  align-content: space-between;
}

.menu--navbar div {
  display: flex;
  align-items: center;
}

.menu--navbar.options {
  background-color: transparent;
  width: 600px;
  border-radius: 50px;
  align-content: flex-start;
  position: relative;
  border: 1px solid #F2F2F2;
}

.menu--navbar .menu--item {
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.menu--navbar .menu--item.icon {
  font-size: 2.8rem;
}

.menu--navbar .menu--item.title, b {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
}

.menu--navbar a {
  color: #F2F2F2;
  border-bottom: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
}

.menu--navbar a:hover {
  border-bottom: 1px solid #b8b8b8;
  color: #b8b8b8;
  transition: all 0.2s;
}

.menu--item.search--box {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s;
  max-width: 50%;
}

.menu--item.search--box .search--ico {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
}

.menu--item.search--box .search--input input {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50px;
  height: 40px;
  width: 100%;
  top: 0;
  outline: none;
  font-size: 1.6rem;
}

.menu--item.search--box.active {
  width: 35%;
  background-color: #F2F2F2;
  transition: all 0.3s;
}

.menu--item.search--box.active .search--ico {
  color: #4285F4;
}

.menu--item.dropdown--toggle {
  position: absolute;
  right: 5px;
}

.mobile--navbar {
  display: none;
}

.menu--item.menu--toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 2.2rem;
  cursor: pointer;
}

.sec--perfil {
  margin-top: 50px;
  width: 50%;
  min-width: 650px;
  display: flex;
  padding: 3px;
  border-radius: 5px;
}

.sec--perfil .perfil--img--case img {
  box-shadow: 0 1px 5px 0 #4285F4;
  padding: 3px;
  border-radius: 50%;
}

.perfil--desc--case {
  padding: 10px;
  line-height: 30px;
  border-radius: 20px 20px 20px 0px;
  background-color: rgba(2, 40, 115, 0.3137254902);
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
}

.perfil--desc--numbers button {
  background-color: transparent;
  color: #F2F2F2;
  font-size: 2rem;
  border: none;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 10px;
  height: 42px;
  min-width: 42px;
  font-size: 1.4rem;
  height: 30px;
}

.perfil--links--case {
  display: flex;
  flex-direction: column;
}

.perfil--instagram {
  background: linear-gradient(#e100ff, #ffae00);
  border-radius: 50px !important;
  border: none;
}

.perfil--tiktok {
  background-color: #000 !important;
  border-radius: 50px !important;
  border: none !important;
}

.perfil--youtube {
  background: #CC142B !important;
  border-radius: 50px !important;
  border: none !important;
}

.perfil--snapchat {
  background-color: #ffe600 !important;
  border-radius: 50px !important;
  border: none !important;
  font-weight: 800 !important;
}

.perfil--links--case button {
  background-color: transparent;
  color: #F2F2F2;
  font-size: 2rem;
  border: none;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 10px;
  height: 42px;
  min-width: 42px;
  margin: 10px;
}

.sec--trend {
  margin-top: 10px;
  width: 70%;
}

.sec--trend .trend--title {
  font-size: 3rem;
  padding: 10px;
  width: 100%;
  color: #022873;
  font-family: "Dancing Script", cursive;
}

.trend--showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.trend--item {
  background-color: transparent;
  box-shadow: 0 1px 5px 0 #b8b8b8;
  color: #F2F2F2;
  font-size: 1.8rem;
  max-width: 260px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  max-height: 420px;
}

.trend--item legend {
  position: absolute;
  padding: 10px;
  background-color: rgba(184, 184, 184, 0.4745098039);
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.trend--item i {
  color: #CC142B;
}

.trend--item--img {
  max-width: 100%;
  border-radius: 5px;
}

.trend--item .trend--options {
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  bottom: -100px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s;
}

.trend--item .trend--options button {
  background-color: transparent;
  color: #F2F2F2;
  font-size: 2rem;
  border: none;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 10px;
  height: 42px;
  min-width: 42px;
  color: #F2F2F2;
  width: 40px;
}

.trend--item .trend--options button i {
  color: #F2F2F2;
}

.trend--item:hover .trend--options {
  bottom: 5px;
  transition: all 0.3s;
}

.sec--about {
  margin-top: 30px;
  display: flex;
}

.about--case {
  height: 100vh;
  width: 50%;
}

.about--case.left {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.about--case.left img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about--case.right {
  background-image: url(../img/backgrounds/banner-11.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.about--case.left .about--map--img {
  width: 100%;
}

.about--form--box {
  background-color: rgba(184, 184, 184, 0.4745098039);
  color: #F2F2F2;
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 3px;
  width: 40%;
  box-shadow: 0 1px 5px 0 #b8b8b8;
}

.about--form--box form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.about--form--box form input, textarea {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  border: 1px solid #F2F2F2;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

.about--form--box form button {
  background-color: transparent;
  color: #F2F2F2;
  font-size: 2rem;
  border: none;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 10px;
  height: 42px;
  min-width: 42px;
  background-color: rgba(2, 40, 115, 0.8352941176);
  margin-top: 5px;
}

footer {
  margin-top: 100px;
  background-color: #4285F4;
  color: #F2F2F2;
}

.footer--header, .footer--footer {
  background-color: #022873;
}

.footer--text {
  width: 70%;
}

.footer--content {
  width: 70%;
  font-size: 1.4rem;
  display: flex;
}

.footer--content--col {
  display: flex;
  flex-direction: column;
}

.footer--content--col div {
  color: #F2F2F2;
  border-bottom: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}

.footer--content--col div:hover {
  border-bottom: 1px solid #b8b8b8;
  color: #b8b8b8;
  transition: all 0.2s;
}

.footer--content--col button {
  background-color: transparent;
  color: #F2F2F2;
  font-size: 2rem;
  border: none;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 10px;
  height: 42px;
  min-width: 42px;
  margin: 5px;
}

@media (max-width: 746px) {
  .menu--navbar, .network--navbar {
    display: none;
  }
  .mobile--navbar {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */