@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&display=swap');

$background--color: #F2F2F2;
$border--color: #b8b8b8;
$dark--color: #022873;
$base--color: #4285F4;
$red--color: #CC142B;
* {
    padding: 0;
    font-family: 'Figtree', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    overflow: hidden;
}
main {
    width: 70%;
}
// header
header {
    width: 100vw;
    height: 40vh;
    background-color: $base--color;
    color: $background--color;
    font-size: 1.8rem;
    display: flex;
    position: relative;
    background-image: url(../img/backgrounds/bg--section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin button--default {
    background-color: transparent;
    color: $background--color;
    padding: 10px 10px;
    font-size: 2rem;
    border: none;
    border: 1px solid $border--color;
    border-radius: 3px;
    cursor: pointer;
}

// 
.menu--navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-content: space-around;
    justify-content: center;
    height: 50px;
}
.network--navbar {
    width: 20%;
    display: flex;
    align-items: center;
    height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}
.menu--navbar .menu--item {
    padding: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.menu--navbar .menu--item:first-child {
    font-size: 2.6rem;
}
.network--navbar .menu--item {
    padding: 10px;
    cursor: pointer;
}
.menu--navbar .menu--item:after {
    content: "";
    background-color: $background--color;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 100px;
    bottom: 0;
    transition: all .3s;
}
.menu--navbar .menu--item:first-child:after {
    content: "";
    width: 0;
    height: 0;
}
.menu--navbar:hover .menu--item:after {
    left: 0px;
    transition: all .3s;
}
.menu--item.menu--toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 2.2rem;
    cursor: pointer;
}
.header--perfil {
    position: absolute;
    top: 12%;
    width: 100%;
    display: flex;
    padding: 35px;
}
.header--perfil .perfil--img--case img {
    border: 1px dashed $dark--color;
    padding: 3px;
    border-radius: 50%;
}
.perfil--desc--case {
    padding: 10px;
    line-height: 30px;
    background-color: $dark--color;
    opacity: 0.7;
    border-radius: 3px;
}
.perfil--links--case {
    display: flex;
    flex-direction: column;
}
.perfil--instagram{
    background: linear-gradient(#e100ff, #ffae00);
    border-radius: 50px !important;
}
.perfil--tiktok{
    background-color: #000 !important;
    border-radius: 50px !important;
}
.perfil--youtube{
    background: #CC142B !important;
    border-radius: 50px !important;
}
.perfil--snapchat{
    background-color: #ffe600 !important;
    border-radius: 50px !important;
}
.perfil--links--case button {
    @include button--default();
    margin: 10px;
}
@media (max-width: 746px) {
    .menu--navbar, .network--navbar {
        display: none;
    }
    .menu--item.menu--toggle {
        display: block;
    }
}