@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&display=swap');

$background--color: #F2F2F2;
$border--color: #b8b8b8;
$dark--color: #022873;
$base--color: #4285F4;
$red--color: #CC142B;
* {
    padding: 0;
    font-family: 'Figtree', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    overflow: hidden;
}
main {
    width: 70%;
}

@mixin button--default {
    background-color: transparent;
    color: $background--color;
    padding: 10px 10px;
    font-size: 2rem;
    border: none;
    border: 1px solid $border--color;
    border-radius: 3px;
    cursor: pointer;
}
// header
header {
    width: 100vw;
    height: 50vh;
    background-color: $base--color;
    color: $background--color;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../img/backgrounds/bg--section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu--navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    align-content: flex-start;
    justify-content: center;
    height: 50px;
}
.menu--navbar.options {
    background-color: $base--color;
    width: 70%;
    border-radius: 50px;
    box-shadow: 0 1px 5px 0 $dark--color;
}
.menu--navbar .menu--item {
    padding: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
.menu--navbar .menu--item.icon {
    font-size: 2.4rem;
}
.menu--item.menu--toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 2.2rem;
    cursor: pointer;
}

// 
// 
// 

.sec--perfil {
    margin-top: 50px;
    width: 80%;
    display: flex;
}
.sec--perfil .perfil--img--case img {
    border: 1px dashed $dark--color;
    padding: 3px;
    border-radius: 50%;
}
.perfil--desc--case {
    padding: 10px;
    line-height: 30px;
    background-color: $dark--color;
    opacity: 0.7;
    border-radius: 20px 20px 20px 0px;
}
.perfil--links--case {
    display: flex;
    flex-direction: column;
}
.perfil--instagram{
    background: linear-gradient(#e100ff, #ffae00);
    border-radius: 50px !important;
    border: none;
}
.perfil--tiktok{
    background-color: #000 !important;
    border-radius: 50px !important;
    border: none !important;
}
.perfil--youtube{
    background: #CC142B !important;
    border-radius: 50px !important;
    border: none !important;
}
.perfil--snapchat{
    background-color: #ffe600 !important;
    border-radius: 50px !important;
    border: none !important;
    font-weight: 800 !important;
}
.perfil--links--case button {
    @include button--default();
    margin: 10px;
}
@media (max-width: 746px) {
    .menu--navbar, .network--navbar {
        display: none;
    }
    .menu--item.menu--toggle {
        display: block;
    }
}